<div class="spinner-wrapper" *ngIf="isLoading">
  <mat-progress-spinner class="spinner" color="primary" mode="indeterminate">
  </mat-progress-spinner>
</div>

<div *ngIf="!isLoading">
  <ng-template [ngIf]="question && question._id" [ngIfElse]="noQuestion">
    <div>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <i class="question-icon colored" [ngClass]="question.icon"></i>
          </div>
          <mat-card-title>
            <span class="mat-title">{{question.title}}</span>
          </mat-card-title>
          <mat-card-subtitle>
            <span>fabianvelizok - </span>
            <span>{{question.createdAt | amTimeAgo}}</span>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
              {{question.description}}
          </p>
        </mat-card-content>
      </mat-card>

      <div class="answers" id="answer-list">
        <h3 class="answer-section-title mat-title">Answers</h3>
        <div *ngIf="question.answers.length === 0" class="no-answers">
          No answers.
        </div>
        <mat-list *ngIf="question.answers.length > 0" class="answer">
          <mat-list-item *ngFor="let answer of question.answers">
            <mat-icon mat-list-icon>question_answer</mat-icon>
            <div mat-line class="no-ellipsis">
              <p>
                {{answer.description}}
                <strong>
                  <!-- <span>{{answer.user.fullName()}} - </span> -->
                  <span>{{answer.user.firstName}} {{answer.user.lastName}} - </span>
                  <span>{{answer.createdAt | amTimeAgo}}</span>
                </strong>
              </p>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <hr>
      <app-answer-form [question]="question"></app-answer-form>
    </div>
  </ng-template>

  <ng-template #noQuestion>
    <div>
      No question.
    </div>
  </ng-template>
</div>
