/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

.no-ellipsis {
  white-space: normal !important;
  text-overflow: initial !important;
}


.signin-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}


form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 40px auto;
}
